---
import { Icon } from 'astro-icon/components';
import BaseLayout from '../../layouts/BaseLayout.astro';
import Button from '../../components/Button.astro';
import { getUserSample } from '../../utils/utils.js';
const res = await fetch(
  'https://productsapi-n5p2.onrender.com/api/v1/products'
);
const data = await res.json();
const user = await getUserSample();
---

<BaseLayout title="About">
  <Button id="my_btn" data-testid="my_btnida" isBordered>btn text</Button>
  <Button id="my_btn_icon" data-testid="my_btnidg" variety="icon">
    <span>variety</span>
    <Icon name="button" />
  </Button>
  <Button id="my_btn_background" data-testid="my_btnidc" background="#654"
    >color by variable</Button
  >
</BaseLayout>
