---
const { href } = Astro.props
---

<a href={href} style={{ textDecoration:"none"}} class="home">
    <slot />
    <p id="copyright"></p>
</a>

<style is:global>
    a {
        color: green;
    }
    .home {
        padding: 10px;
    }
</style>
<script>
    import { getCopyright } from "../utils/copyright.js"
    const copyright = await getCopyright()
    document.querySelector("#copyright").textContent = copyright
</script>