---
const { href } = Astro.props
---

<a href={href} style={{ textDecoration:"none"}} class="home">
    <slot />
</a>

<style is:global>
    a {
        color: green;
    }
    .home {
        padding: 10px;
    }
</style>